{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico %}

<h1> Lista de Bebidas </h1>

<ul>    
    {% for bebida in bebidas %}
        <li> 
            <a href="{% url 'DetalleBebida' bebida.id %}"> 
           
                {{bebida}} -- Detalle
            </a>
        </li>

        <div>
            <a href="{% url 'ActualizaBebida' bebida.id %}" class="btn btn-primary" role="button">Editar</a>
            <a href="{% url 'EliminaBebida' bebida.id  %}"class="btn btn-danger" role="button">Eliminar</a>
        </div>

    {% endfor %}
        
</ul>

<a href="{% url 'Bebidas' %}" class="btn btn-primary" role="button">< -- Volver</a>

{% endblock contenidoDinamico %} 