{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico %}

<h1> Lista de Platos </h1>

<ul>
    
    {% for plato in platos %}
        <li> 
            <a href="{% url 'DetallePlato' plato.id %}">
                {{plato}}
            </a>
        </li>

        <div>
            <a href="{% url 'ActualizaPlato' plato.id %}" class="btn btn-primary" role="button">Editar</a>
            <a href="{% url 'EliminaPlato' plato.id  %}"class="btn btn-danger" role="button">Eliminar</a>
        </div>

    {% endfor %}
        
</ul>


<a href="{% url 'Platos' %}" class="btn btn-primary" role="button">< -- Volver</a>

{% endblock contenidoDinamico %} 