{% extends 'padre.html' %}
{% load static %}

{% block contenidoDinamico %}

<h1> Lista de Postres </h1>

<ul>
    
    {% for postre in postres %}
        <li> 
            <a href="{% url 'DetallePostre' postre.id %}">
                {{postre}}
            </a>
        </li>

        <div>
            <a href="{% url 'ActualizaPostre' postre.id %}" class="btn btn-primary" role="button">Editar</a>
            <a href="{% url 'EliminaPostre' postre.id  %}" class="btn btn-danger" role="button">Eliminar</a>
            
        </div>

    {% endfor %}
        
</ul>

<a href="{% url 'Postres' %}" class="btn btn-primary" role="button">< -- Volver</a>

{% endblock contenidoDinamico %} 